#footer-text{
    font-family:'Courier New', Courier, monospace;
    color:white;
}

span{
    font-size: x-small;
}

#footer-div{
    background-color: rgb(45, 45, 45);
}

a{
    text-decoration: none;
}