<div class="root justify-content-center align-items-center text-center min-vh-100 d-flex p-4" id="root-background-div">
    <div class="background-custom rounded shadow" style="padding: 12vh;">
        <span class="display-1 mb-2 text-dark">BUG</span>
        <span class="display-1 mb-2 text-dark font-weight-bold">SOLVER</span>
        <h1 class="lead mb-4 text-dark">{{'HOME-PAGE.DESCRIPTION' | translate}}</h1>
        <hr>
        <button class="btn btn-lg btn-block mt-4 btn-explore" routerLink="/bugs">
            <span>{{'HOME-PAGE.EXPLORE' | translate}}</span>
        </button>
    </div>
    <div></div>
</div>
