<div class="root justify-content-center min-vh-100 p-4" id="root-background-div">
    <div class="container p-3" style="background-color: white;">
        <span class="lead font-weight-normal">{{bugDetail.title}}</span>
        <div class="justify-content-center">
            <span class="text-muted small">{{"BUG.CREATED-BY-TEXT" | translate}}: </span>
            <span class="small">{{bugDetail.user.username}}</span>
            <span class="text-muted small ml-4">{{"BUG.CREATED-AT-TEXT" | translate}}: </span>
            <span class="small">{{bugDetail.createdAt | date: "dd/MM/yyyy HH:mm"}}</span>
            
            <span data-toggle="tooltip" data-placement="top" title="{{'BUG.REMOVE' | translate}}">
                <button data-toggle="modal" data-target="#deleteModal" *ngIf="isPostOwner" type="button" class="btn btn-danger btn-sm float-right ml-2"><i class="fa fa-trash"></i></button>
            </span>
            <button [routerLink]="['/bugs',bugId,'update']" *ngIf="isPostOwner" type="button" class="btn btn-info btn-sm float-right" data-toggle="tooltip" data-placement="top" title="{{'BUG.EDIT' | translate}}">
                <i class="fa fa-pencil "></i>
            </button>
        </div>
        <hr>
        <p>{{bugDetail.description}}</p>

        <a class="small text-decoration-none" data-toggle="collapse" data-target="#codeCollapse" role="button" aria-expanded="false" aria-controls="codeCollapse">
            {{"BUG.SEE-CODE" | translate}} 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </a>
        <div class="collapse" id="codeCollapse">
            <div class="card card-body" style="background-color:#23241f">
              <code>{{bugDetail.code}}</code>
            </div>
        </div>

        <p class="lead mt-4">{{'BUG.ANSWERS.TITLE' | translate}}</p>
        <div class="card mb-2" [ngClass]="{'border-success': reply.best_answer}" *ngFor="let reply of pageReply.content | paginate : {
            currentPage: pageReply.page,
            itemsPerPage: pageReply.size,
            totalItems: pageReply.totalElements
        }">
            <div class="ml-2 mt-1 mb-1 mr-1">
                <button *ngIf="isPostOwner" type="button" class="btn btn-success btn-sm float-right" data-toggle="tooltip" data-placement="top" title="{{'BUG.ANSWERS.SELECT-BEST-ANSWER' | translate}}"><i class="fa fa-check "></i></button>
                <span class="text-muted small">{{"BUG.ANSWERS.ANSWERED-BY-TEXT" | translate}}: </span>
                <span class="small">{{reply.user.username}}</span>
                <span class="text-muted small ml-4">{{"BUG.ANSWERS.ANSWERED-AT-TEXT" | translate}}: </span>
                <span class="small">{{reply.createdAt | date: "dd/MM/yyyy HH:mm"}}</span>
            </div>
            <hr style="margin:0px; padding:0px;">
            <div class="card-body">
                {{reply.description}}
            </div>
        </div>
        <div *ngIf="pageReply.totalElements == 0" class="justify-content-center m-4">
            <p class="text-center lead text-muted">{{'BUG.ANSWERS.NO-ANSWER-FOUND' | translate}}</p>
        </div>

        <div class="d-flex justify-content-center mt-4 mr-4">
            <pagination-controls class="pagination-control text-center" 
            previousLabel = "{{'PAGINATION.PREVIOUS-LABEL' | translate}}"
            nextLabel = "{{'PAGINATION.NEXT-LABEL' | translate}}"
            (pageChange)="getRepliesByPage($event)"></pagination-controls>
        </div>
    </div>

    <div *ngIf="isAuthenticated" class="container p-3 mt-2" style="background-color: white;">
        <p class="text-center lead">{{'BUG.ANSWERS.SEND-ANSWER-TITLE' | translate}}</p>
        <form [formGroup]="replyForm">
            <div class="form-group">
                <textarea id="description" class="form-control" formControlName="description" oninput="this.style.height = ''; this.style.height = this.scrollHeight +'px'"></textarea>
            </div>
            <div class="align-items-center text-center">
                <button class="btn btn-primary" type="submit">
                    <span>{{'BUG.ANSWERS.SUBMIT' | translate}}</span>
                </button>
            </div>
        </form>
    </div>
</div>    


<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{'BUG.DELETE-DESCRIPTION' | translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>{{'BUG.DELETE-DESCRIPTION' | translate}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'BUG.BUTTON-CLOSE-MODAL' | translate}}</button>
            <button (click)="deleteBug()" type="button" class="btn btn-danger" data-dismiss="modal">{{'BUG.BUTTON-DELETE-MODAL' | translate}}</button>
        </div>
      </div>
    </div>
</div>