nav {
    background-color: rgb(30, 30, 30);
}

.nav-item{
    color: white;
}

a {
    color:white;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
}
a:hover{
    color: #17B169;
}

.languages button{
    vertical-align: middle;
    border: none;
    background-color: transparent;
}

.languages img {
    width: 2rem;
}

.languages .language-options {
    display: none;
    flex-direction: column;
}

.languages .language-options img {
    margin-block: 4px;
}

.languages:hover .language-options{
    display: flex;
}