::ng-deep .ngx-pagination li{
    margin-right: 5px !important;
}

::ng-deep .ngx-pagination li.current{
    background-color: #17B169 !important;
    border-radius: 50px;
}
::ng-deep .ngx-pagination li a{
    border-radius: 50px;
    outline:none !important;
    color: white !important;
}
::ng-deep .ngx-pagination a:hover, .ngx-pagination button{
    color: #17B169 !important;
}
::ng-deep .ngx-pagination .disabled{
    color: darkgray !important;
}

.btn-submit{
    color:white;
    background-color:  #17B169;
}

.btn-submit:hover{
    color:white;
    background-color: #1ac474;
}




