<body class="d-flex flex-column min-vh-100">
    <div class="wrapper flex-grow-1"></div>
    <div id="footer-div" class="d-flex p-3">
        <div id="footer-text" style="margin-top:6px">
            <span>Copyright &copy; 2022 Michael Nicholas. Todos os direitos reservados</span>
        </div>
        <div class="ml-auto">
            <a class="fa fa-linkedin-square m-1" href="https://www.linkedin.com/in/akamiike/" style="font-size:30px; vertical-align: middle; color: white;"></a>
            <a class="fa fa-github-square m-1" href="https://www.github.com/akamiike/" style="font-size:30px; vertical-align: middle; color: white"></a>
        </div>
    </div>
</body>